.navigation {
    height: 20%;
    display: flex;
    justify-content: center;
}
.navigation > button {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 5px;
    background: linear-gradient(0deg, rgba(255,107,87,1) 0%, rgba(255,47,45,1) 100%);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: none;
}
.navigation > button:hover {
    background: linear-gradient(0deg, rgba(255, 107, 87, 0.785) 0%, rgba(255, 48, 45, 0.736) 100%);
}
.navigation > button:active {
    position:relative;
	top:1px;
}
.navigation > button > img {
    width: 70%;
    height: 70%;
}
.navigation > button:disabled {
    position: unset;
    cursor: not-allowed;
}