.canvas {
    width: 70%;
    max-width: 900px;
    position: relative;
}

.canvas .logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 30%;
}


.canvas .avatar-trait {
    position: absolute;
    top: 10rem;
    left: 10rem;
    right: 10rem;
}
